.commanderCard {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    height: 375px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.cardImg img {
    max-width: 200px;
    width: 100%;
}
.cardTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.hasWon, .mainGroup{
    width: 25px;
    height: 25px;
    top: 12.5px;
    position: absolute;
    z-index: 10;
    left: 5px;
}
.hasWon {
    top: 50px;
}
.actions {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.actions a img {
    width: 25px;
    height: 25px;
}
.actions a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    background: lightgray;
}
.actions a:hover {
    background: orange;
}
.stripe {
    height: 5px;
    width: 100%;
}
.white {
    background-color: antiquewhite;
}
.blue {
    background-color: darkslateblue;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}